body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8f1f5;
}

header {
    background-color: #003f63;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

nav {
    margin: 20px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.bilhete {
    border: 1px solid #003f63;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #a3cfd1;
    border-radius: 10px;
}

.btn {
    background-color: #003f63;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
}

label, input, select {
    display: block;
    margin: 10px auto;
    width: 50%;
    border-radius: 5px;
}

footer {
    background-color: #003f63;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

